@inject IStringLocalizer<Приложение> Лок
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Приложение).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @Лок["UserNotAuthorized"]
                </NotAuthorized>
                <Authorizing>
                    @Лок["AuthorizationInProgress"]
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Лок["PageNotFoundTitle"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Лок["PageNotFoundInformation"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
