@page "/requests/{ИдЗаявки:int}/inspections/{ИдИнспекции:int}/protocols/lot"
@attribute [Authorize(Policy = "Инспекторы")]
@inject УправляющийЗаявками управляющийЗаявками
@inject УправляющийИнспекциями управляющийИнспекциями
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<Инспекции> Лок

<h3>@string.Format(Лок["ПротоколИнспекции"], ИдИнспекции)</h3>

<h4>
    @Лок["ДанныеЗаявки"]
</h4>
<fieldset disabled>
    <БазовыеДанныеЗаявки Модель=@МодельЗаявки Пользователь=@ИдВладельца />
</fieldset>

<h4>
    @Лок["ДанныеИнспекции"]
</h4>
<fieldset disabled>
    <ДанныеИнспекции Модель="@Модель" />
</fieldset>
<h4>
    @Лок["ЗаписиПротокола"]
</h4>
<div class="row">
    <div class="col-5">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Лок["ВесПартии"]</th>
                    <td>
                        <InputNumber @bind-Value="Запись.ВесПартии" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ИнспектируемыйВес"]</th>
                    <td>
                        <div class="form-control" disabled>
                            @Запись.ИнспектируемыйВес
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>@Лок["СухаяГниль"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.СухаяГниль" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-dry-rot")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-dry-rot right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.СухаяГниль, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.СухаяГниль))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.СухаяГниль))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["МокраяГниль"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.МокраяГниль" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-wet-rot")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-wet-rot right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.МокраяГниль, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.МокраяГниль))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.МокраяГниль))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Фитофтороз"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.Фитофтороз" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-phytophtora")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-phytophtora right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.Фитофтороз, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.Фитофтороз))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Фитофтороз))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПаршаОбыкновенная"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПаршаОбыкновенная" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-shallow-scab")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-shallow-scab right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПаршаОбыкновенная, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПаршаОбыкновенная))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПаршаОбыкновенная))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПаршаЛуговая"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПаршаЛуговая" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПаршаЛуговая, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПаршаЛуговая))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПаршаЛуговая))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПаршаСеребристая"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПаршаСеребристая" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПаршаСеребристая, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПаршаСеребристая))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПаршаСеребристая))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПаршаПорошистая"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПаршаПорошистая" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПаршаПорошистая, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПаршаПорошистая))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПаршаПорошистая))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Ризоктониоз"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.Ризоктониоз" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.Ризоктониоз, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.Ризоктониоз))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Ризоктониоз))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Продавленность"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.Продавленность" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.Продавленность, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.Продавленность))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Продавленность))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["НезначительныеПовреждения"]</th>
                    <td>
                        <InputNumber @bind-Value="Запись.НезначительныеПовреждения" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.НезначительныеПовреждения))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ВнешниеДефекты"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ВнешниеДефекты" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ВнешниеДефекты, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ВнешниеДефекты))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ВнешниеДефекты))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПрилипшаяПочва"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПрилипшаяПочва" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПрилипшаяПочва, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПрилипшаяПочва))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПрилипшаяПочва))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ПревышениеРазмеров"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.ПревышениеРазмеров" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.ПревышениеРазмеров, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.ПревышениеРазмеров))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ПревышениеРазмеров))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Проростания"]</th>
                    <td>
                        <InputNumber @bind-Value="Запись.Проростания" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Проростания))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ВнутренниеДефекты"]</th>
                    <td>
                        <InputNumber @bind-Value="Запись.ВнутренниеДефекты" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ВнутренниеДефекты))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["РаздавленныеКлубни"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.РаздавленныеКлубни" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.РаздавленныеКлубни, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.РаздавленныеКлубни))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.РаздавленныеКлубни))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["ВирусныйНекроз"]</th>
                    <td>
                        <InputNumber @bind-Value="Запись.ВирусныйНекроз" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.ВирусныйНекроз))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Переохлаждение"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.Переохлаждение" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.Переохлаждение, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.Переохлаждение))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Переохлаждение))
                    </td>
                </tr>
                <tr>
                    <th>@Лок["Вредители"]</th>
                    <td>
                        <div class="input-group">
                            <InputNumber @bind-Value="Запись.Вредители" class="form-control" disabled="@(Модель.Статус != 1)" min="0.0" step="0.1" />
                            <span anchor="@($"ref-viral")" class="input-group-text anchor">?</span>
                            <div class="tooltip" style="@($"anchor: --ref-viral right")">
                                <h3>Правила</h3>
                                @ПороговыеЗначения((Запись.Вредители, Запись.ИнспектируемыйВес, ПравилаСертификации.ПравилаИнспекцииПартии.Вредители))
                            </div>
                        </div>
                    </td>
                    <td>
                        @ОтображениеЗаписи((Запись, Запись.Вредители))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <label>Рекомендованный класс семян:</label> <КлассСемян Значение=@((int)ПравилаСертификации.РекомендованныйКлассСемян(Запись)) />
    </div>
</div>

<div class="row my-3">
    <div class="col">
        @if (Модель.Статус == 1)
        {
            <a class="btn btn-primary" @onclick="СохранитьПротокол">@Глобальные.Сохранить</a>
            <a class="btn btn-secondary" @onclick="(() => ПоказыватьОкноОтправкиЗаявки = true)">@Лок["Отправить"]</a>
        }
        <!-- -->
        <a href="/requests/@ИдЗаявки/inspections" class="btn btn-secondary">@Глобальные.Назад</a>
    </div>
</div>

@if (ПоказыватьОкноОтправкиЗаявки)
{
    <div class="modal show" tabindex="-1" style="display: block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Завершение протокола</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(() => ПоказыватьОкноОтправкиЗаявки = false)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">
                                @Лок["ФактическаяДата"]
                            </label>
                            <InputDate @bind-Value="ФактическаяДата" class="form-control" Type="InputDateType.Date" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@(() => ПоказыватьОкноОтправкиЗаявки = false)">Закрыть</button>
                    <button type="button" class="btn btn-primary" @onclick="ОтправитьНаОдобрение">@Лок["Отправить"]</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    [Parameter]
    public int ИдЗаявки { get; set; }

    [Parameter]
    public int ИдИнспекции { get; set; }

    public string ИдВладельца { get; set; } = "";

    public DateTime ФактическаяДата { get; set; }

    public bool ПоказыватьОкноОтправкиЗаявки = false;

    public МодельЗаявки МодельЗаявки { get; set; } = new();

    public МодельИнспекции Модель { get; set; } = new();

    public ЗаписьИнспекцииПартии Запись { get; set; } = new();

    RenderFragment<(ЗаписьИнспекцииПартии запись, double? значение)> ОтображениеЗаписи = (значение) => __builder =>
    {
        //var класс = ПравилаСертификации.ПорогИнспекцииПартии(значение.значение, значение.запись.ВесПартии, значение.уровни);
        if (значение.значение is null)
        {
            <text></text>
        }
        else
        {
            <text>
                @значение.значение <text>(</text>@(((100.0 * (значение.значение ?? 0.0)) / (значение.запись.ИнспектируемыйВес)).ToString("F1"))<text>%)</text>
            </text>
        }
    };

    RenderFragment<(double? значение, int вес, double[] уровни)> ПороговыеЗначения = (значение) => __builder =>
    {
        var класс = ПравилаСертификации.ПорогИнспекцииПартии(значение.значение, значение.вес, значение.уровни);
        <ul>
            <li class="@(класс == СертификацияСемян.КлассСемян.ПредбазисныйPBTC ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.ПредбазисныйPBTC) />   &lt;= @(значение.уровни[0].ToString("F1"))% / @((значение.уровни[0] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.ПредбазисныйPB ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.ПредбазисныйPB) />     &lt;= @(значение.уровни[1].ToString("F1"))% / @((значение.уровни[1] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.БазисныйS ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.БазисныйS) />          &lt;= @(значение.уровни[2].ToString("F1"))% / @((значение.уровни[2] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.БазисныйSE ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.БазисныйSE) />         &lt;= @(значение.уровни[2].ToString("F1"))% / @((значение.уровни[2] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.БазисныйE ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.БазисныйE) />          &lt;= @(значение.уровни[2].ToString("F1"))% / @((значение.уровни[2] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.СертифицированныйА ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.СертифицированныйА) /> &lt;= @(значение.уровни[3].ToString("F1"))% / @((значение.уровни[3] * значение.вес / 100.0).ToString("F1")) кг</li>
            <li class="@(класс == СертификацияСемян.КлассСемян.СертифицированныйВ ? "fw-bold" : "")"><КлассСемян Значение=@((int)СертификацияСемян.КлассСемян.СертифицированныйВ) /> &lt;= @(значение.уровни[3].ToString("F1"))% / @((значение.уровни[3] * значение.вес / 100.0).ToString("F1")) кг</li>
            @if (класс == СертификацияСемян.КлассСемян.Неизвестный)
            {
                <li class="fw-bold text-danger">Превышены все нормы.</li>
            }
        </ul>
    };


    protected override void OnParametersSet()
    {
        var заявка = управляющийЗаявками.ПолучитьЗаявку(ИдЗаявки);
        if (заявка is null)
        {
            return;
        }

        ИдВладельца = заявка.УчастокПоля.Поле.ПроизводительСемян.ИдВладельца;

        Проектор.ОтобразитьЗаявку(заявка, МодельЗаявки);

        var инспекция = управляющийИнспекциями.ПолучитьИнспекцию(ИдИнспекции);
        if (инспекция is null)
        {
            return;
        }

        Проектор.ОтобразитьИнспекцию(инспекция, Модель);
        ФактическаяДата = инспекция.ФактическаяДата ?? инспекция.ПланируемаяДата;
        Запись = управляющийИнспекциями.ПолучитьПротоколИнспекцииПартии(ИдИнспекции);
        base.OnParametersSet();
    }

    public void СохранитьПротокол()
    {
        управляющийИнспекциями.СохранитьПротоколИнспекцииПартии(ИдИнспекции, Запись);
    }

    void ОтправитьНаОдобрение()
    {
        управляющийИнспекциями.ПровестиИнспекцию(ИдИнспекции, ФактическаяДата);
        управляющийНавигацией.NavigateTo($"/requests/{ИдЗаявки}/inspections");
    }
}
