@page "/requests/{ИдЗаявки:int}/inspections/{ИдИнспекции:int}/protocols/field"
@attribute [Authorize(Policy = "Инспекторы")]
@inject УправляющийЗаявками управляющийЗаявками
@inject УправляющийИнспекциями управляющийИнспекциями
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<Инспекции> Лок

<h3>@string.Format(Лок["ПротоколИнспекции"], ИдИнспекции)</h3>

<h4>
    @Лок["ДанныеЗаявки"]
</h4>
<fieldset disabled>
    <БазовыеДанныеЗаявки Модель=@МодельЗаявки Пользователь=@ИдВладельца />
</fieldset>

<h4>
    @Лок["ДанныеИнспекции"]
</h4>
<fieldset disabled>
    <ДанныеИнспекции Модель="@Модель" />
</fieldset>
<h4>
    @Лок["ЗаписиПротокола"]
</h4>
<p>
    @Лок["РекомендуемоеКоличествоРастений"]: @МодельЗаявки.РекомендуемоеКоличествоРастений.ToString("N0")
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="4" class="text-center">@Лок["ДефектыКонтроля"]</th>
            <th class="text-center">@Лок["ДругиеНаблюдения"]</th>
            <th></th>
        </tr>
        <tr>
            <th>@Лок["НомерСерии"]</th>
            <th>@Лок["КоличествоРастенийВСерии"]</th>
            <th>@Лок["Карантин"]</th>
            <th>@Лок["ВиральныеБолезни"]</th>
            <th>@Лок["Черноножка"]</th>
            <th>@Лок["Безтиповые"]</th>
            <th>@Лок["Ризоктония"]</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var записьИнспекция in Протокол.Записи)
        {
            <tr>
                <td>@записьИнспекция.НомерСерии</td>
                <td>
                    <InputNumber @bind-Value:get="записьИнспекция.КоличествоРастенийВСерии" @bind-Value:set=@((value) => записьИнспекция.КоличествоРастенийВСерии = value) class="form-control" disabled="@(Модель.Статус != 1)" min=1 />
                </td>
                <td>
                    <InputNumber @bind-Value:get="записьИнспекция.Карантин" @bind-Value:set=@((value) => записьИнспекция.Карантин = value) class="form-control" disabled="@(Модель.Статус != 1)" />
                </td>
                <td>
                    <div class="input-group">
                        <InputNumber @bind-Value="записьИнспекция.ВиральныеБолезни" class="form-control" disabled="@(Модель.Статус != 1)" />
                        <span anchor="@($"ref-{записьИнспекция.НомерСерии}-viral")" class="input-group-text anchor">?</span>
                        <div class="tooltip" style="@($"anchor: --ref-{записьИнспекция.НомерСерии}-viral right")">
                            <h3>Правила</h3>
                            <ul>
                                <li>Предбазисный PBTC &lt;= 0.0%</li>
                                <li>Предбазисный PB &lt;= 0.1%</li>
                                <li>Базисный S &lt;= 0.2%</li>
                                <li>Базисный SE &lt;= 0.5%</li>
                                <li>Базисный E &lt;= 0.8%</li>
                                <li>Сертифицированный А &lt;= 2.0%</li>
                                <li>Сертифицированный В &lt;= 6.0%</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <InputNumber @bind-Value="записьИнспекция.Черноножка" class="form-control" disabled="@(Модель.Статус != 1)" />
                        <span class="input-group-text anchor">?</span>
                        <div class="tooltip">
                            <h3>Правила</h3>
                            <ul>
                                <li>Предбазисный PBTC &lt;= 0.0%</li>
                                <li>Предбазисный PB &lt;= 0.0%</li>
                                <li>Базисный S &lt;= 0.5%</li>
                                <li>Базисный SE &lt;= 0.75%</li>
                                <li>Базисный E &lt;= 1.0%</li>
                                <li>Сертифицированный А &lt;= 1.5%</li>
                                <li>Сертифицированный В &lt;= 2.0%</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <InputNumber @bind-Value="записьИнспекция.Безтиповые" class="form-control" disabled="@(Модель.Статус != 1)" />
                        <span class="input-group-text anchor">?</span>
                        <div class="tooltip">
                            <h3>Правила</h3>
                            <ul>
                                <li>Предбазисный PBTC &lt;= 0.0%</li>
                                <li>Предбазисный PB &lt;= 0.01%</li>
                                <li>Базисный S &lt;= 0.25%</li>
                                <li>Базисный SE &lt;= 0.25%</li>
                                <li>Базисный E &lt;= 0.25%</li>
                                <li>Сертифицированный А &lt;= 0.5%</li>
                                <li>Сертифицированный В &lt;= 0.5%</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <InputNumber @bind-Value="записьИнспекция.Ризоктония" class="form-control" disabled="@(Модель.Статус != 1)" />
                </td>
                <th>
                    @if (Модель.Статус == 1)
                    {
                        <button @onclick="@(() => Удалить(записьИнспекция))" class="btn btn-danger">@Глобальные.Удалить</button>
                    }
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>
                @ОбщаяЗаписьИнспекция.КоличествоРастенийВСерии
            </th>
            <th>
                @ОтображениеЗаписи((ОбщаяЗаписьИнспекция, ОбщаяЗаписьИнспекция.Карантин))
            </th>
            <th>
                @ОтображениеЗаписи((ОбщаяЗаписьИнспекция, ОбщаяЗаписьИнспекция.ВиральныеБолезни))
            </th>
            <th>
                @ОтображениеЗаписи((ОбщаяЗаписьИнспекция, ОбщаяЗаписьИнспекция.Черноножка))
            </th>
            <th>
                @ОтображениеЗаписи((ОбщаяЗаписьИнспекция, ОбщаяЗаписьИнспекция.Безтиповые))
            </th>
            <td>
                @ОтображениеЗаписи((ОбщаяЗаписьИнспекция, ОбщаяЗаписьИнспекция.Ризоктония))
            </td>
            <th>
                    
            </th>
        </tr>
    </tfoot>
</table>

<div class="row my-3">
    <div class="col">
        <label>Рекомендованный класс семян:</label> <КлассСемян Значение=@((int)ПравилаСертификации.РекомендованныйКлассСемян(Протокол.Записи)) />
    </div>
</div>

@if (Модель.Статус == 1)
{
    <div class="row my-3">
        <div class="col">
            <a class="btn btn-primary" @onclick="ДобавитьЗапись">Добавить</a>
        </div>
    </div>    
}

<div class="row my-3">
    <div class="col">
        @if (Модель.Статус == 1)
        {
            <a class="btn btn-primary" @onclick="СохранитьПротокол">@Глобальные.Сохранить</a>
            <a class="btn btn-secondary" @onclick="(() => ПоказыватьОкноОтправкиЗаявки = true)">@Лок["Отправить"]</a>
        }
        <a href="/requests/@ИдЗаявки/inspections" class="btn btn-secondary">@Глобальные.Назад</a>
    </div>
</div>

@if (ПоказыватьОкноОтправкиЗаявки)
{
    <div class="modal show" tabindex="-1" style="display: block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Завершение протокола</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(() => ПоказыватьОкноОтправкиЗаявки = false)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">
                                @Лок["ФактическаяДата"]
                            </label>
                            <InputDate @bind-Value="ФактическаяДата" class="form-control" Type="InputDateType.Date" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@(() => ПоказыватьОкноОтправкиЗаявки = false)">Закрыть</button>
                    <button type="button" class="btn btn-primary" @onclick="ОтправитьНаОдобрение">@Лок["Отправить"]</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    [Parameter]
    public int ИдЗаявки { get; set; }

    [Parameter]
    public int ИдИнспекции { get; set; }

    public string ИдВладельца { get; set; } = "";

    public МодельЗаявки МодельЗаявки { get; set; } = new();

    public МодельИнспекции Модель { get; set; } = new();

    public СертификацияСемян.Данные.ПротоколПолевойИнспекции Протокол { get; set; } = new(new());

    public bool ПоказыватьОкноОтправкиЗаявки = false;

    public DateTime ФактическаяДата { get; set; }

    public ЗаписьПолевойИнспекции ОбщаяЗаписьИнспекция => Протокол.ОбщаяЗаписьИнспекция;

    RenderFragment<(ЗаписьПолевойИнспекции запись, int? значение)> ОтображениеЗаписи = (значение) => __builder =>
    {
        if (значение.значение is null)
        {
            <text></text>
        }
        else
        {
            <text>
                @значение.значение <text>(</text>@(((100.0 * (значение.значение ?? 0)) / (значение.запись.КоличествоРастенийВСерии)).ToString("F1"))<text>%)</text>
            </text>
        }
    };


    protected override void OnParametersSet()
    {
        var заявка = управляющийЗаявками.ПолучитьЗаявку(ИдЗаявки);
        if (заявка is null)
        {
            return;
        }

        ИдВладельца = заявка.УчастокПоля.Поле.ПроизводительСемян.ИдВладельца;

        Проектор.ОтобразитьЗаявку(заявка, МодельЗаявки);

        var инспекция = управляющийИнспекциями.ПолучитьИнспекцию(ИдИнспекции);
        if (инспекция is null)
        {
            return;
        }

        Проектор.ОтобразитьИнспекцию(инспекция, Модель);
        ФактическаяДата = инспекция.ФактическаяДата ?? инспекция.ПланируемаяДата;
        var протокол = управляющийИнспекциями.ПолучитьПротоколПолевойИнспекции(ИдИнспекции);
        Протокол = протокол;
        //Записи = протокол.Записи;
        base.OnParametersSet();
    }

    public void ДобавитьЗапись()
    {
        var записьИнструкции = new ЗаписьПолевойИнспекции()
        { 
            НомерСерии = Протокол.Записи.Count + 1,
            КоличествоРастенийВСерии = 100,
        };
        Протокол.Записи.Add(записьИнструкции);
    }

    public void Удалить(ЗаписьПолевойИнспекции запись)
    {
        Протокол.Записи.Remove(запись);
    }

    public void СохранитьПротокол()
    {
        управляющийИнспекциями.СохранитьПротоколПолевойИнспекции(ИдИнспекции, Протокол.Записи);
        управляющийНавигацией.NavigateTo($"/requests/{ИдЗаявки}/inspections");
    }

    void ОтправитьНаОдобрение()
    {
        управляющийИнспекциями.ПровестиИнспекцию(ИдИнспекции, ФактическаяДата);
        управляющийНавигацией.NavigateTo($"/requests/{ИдЗаявки}/inspections");
    }
}
