@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = Manage.НастроитьАутентификатор;
    ViewData["ActivePage"] = Manage.ДвухФакторнаяАутентификация;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>@Manage.ЧтобыИспользоватьАутентификатор</p>
    <ol class="list">
        <li>
            <p>
                @Manage.ЗагрузитеАутентификатор
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> @Manage.И
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> @Manage.Или
                @Manage.ГуглАутентификатор
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> @Manage.И
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>@Manage.ОтсканируйтеКР <kbd>@Model.SharedKey</kbd> @Manage.ВВашАутентификатор</p>
            <div class="alert alert-info">@Manage.Научитесь <a href="https://go.microsoft.com/fwlink/?Linkid=852423">@Manage.ВключитьГенерацию</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                @Manage.ОднаждыОтсканировав
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="@Manage.ВведитеКод"/>
                            <label asp-for="Input.Code" class="control-label form-label">@Manage.КодПодтверждения</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">@Manage.Подтвердить</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
