@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = Manage.ДвухФакторнаяАутентификация;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@Manage.НеОсталосьКодов</strong>
                    <p>@Manage.ВыДолжны <a asp-page="./GenerateRecoveryCodes">@Manage.СгенерируйтеНовыеКоды</a> @Manage.ВойтиСКодами</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@Manage.ОдинКод</strong>
                    <p>@Manage.ВыМожете <a asp-page="./GenerateRecoveryCodes">@Manage.СгенерируйтеНовыеКоды</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Manage.УВасЕсть @Model.RecoveryCodesLeft @Manage.КодовОсталось</strong>
                    <p>@Manage.ВамСледует <a asp-page="./GenerateRecoveryCodes">@Manage.СгенерируйтеНовыеКоды</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Manage.ЗабытьБраузер</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Manage.Отключить2ФА</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Manage.ОбнулитьКоды</a>
        }

        <h4>@Manage.ПриложениеАутентификации</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Manage.ДобавитьПриложение</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Manage.УстановитьПриложение</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Manage.ОбнулитьПриложение</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@Manage.ПолитикаНеПринята</strong>
            <p>@Manage.ВыДолжныПринять</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
